@font-face {
    font-family: "ITC American Typewriter";
    src: url("/.eot");
    src: url("/static/fonts/242ad0e208069ad203d43f90c3854dc1.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/242ad0e208069ad203d43f90c3854dc1.woff2") format("woff2"),
         url("/static/fonts/242ad0e208069ad203d43f90c3854dc1.woff") format("woff"),
         url("/static/fonts/242ad0e208069ad203d43f90c3854dc1.ttf") format("truetype"),
         url("/static/fonts/242ad0e208069ad203d43f90c3854dc1.svg#ITC American Typewriter") format("svg");

}

body {
    /*background-image: url("/static/img/background.png");*/
    /*background-color: #f5f5f5;*/
    background-color: #F4F3EF;
    font-family: "ITC American Typewriter";
}

.content > .top-image {
    margin:auto;
    width: fit-content;
}
.content > .center-image {
    margin:auto;
    width: fit-content;
}
.content > .center-image > img {
    margin-top: -1rem;
    z-index: 1;
}
.content {
    width: fit-content;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    overflow: auto;
    align: center;
    font-size: 1.2rem;
}
.content > h1 {
    margin: auto;
    width: fit-content;
    font-size: 2.8rem;
    font-weight: lighter;
    padding-bottom: 3.5rem;
    text-align: center;
}
.content > h1 > .author {
    font-size: 1.0rem;
    float: right;
    text-align: right;
    margin-top: -0.5rem;
}
.content > h1:last-child {
    padding-bottom: 0;
}
@media only screen and (max-width: 768px) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .content > h1 {
        font-size: 1.8rem;
    }
    .content > h1 > .author {
        font-size: 1.0rem;
        padding-right: 0;
    }
    .content > .top-left-image {
        position:relative;
        margin: auto;
    }
}

.content > h2 {
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
}

.content > div.time {
    color: #B92100;
    font-weight: 900;
    text-align: center;
    font-size: 1.9rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    z-index: 2;
}


.content > ul {
    list-style-type: none;
    display:table;
    text-align:center;
    margin:0 auto;
    padding: 0;
    padding-bottom: 3.0rem;
}

.content > ul > li {
    width: 100%;
    padding-top: 2rem;
    display: inline-block;
    text-align:center;
}

li > span.head {
    font-weight: bold;
}

li.adress {
    font-weight: bold;
}

.content > .footer {
    margin: auto;
    width: fit-content;
}

.content > .footer > div {
    padding-bottom: 1rem;
}
.content > .bottom-image {
    margin: auto;
    width: fit-content;
}

.content > .unterschrift {
    margin: auto;
    width: fit-content;
}
