@font-face {
    font-family: "ITC American Typewriter";
    src: url("/.eot");
    src: url("/static/fonts/242ad0e208069ad203d43f90c3854dc1.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/242ad0e208069ad203d43f90c3854dc1.woff2") format("woff2"),
         url("/static/fonts/242ad0e208069ad203d43f90c3854dc1.woff") format("woff"),
         url("/static/fonts/242ad0e208069ad203d43f90c3854dc1.ttf") format("truetype"),
         url("/static/fonts/242ad0e208069ad203d43f90c3854dc1.svg#ITC American Typewriter") format("svg");

}

body {
    /*background-image: url("/static/img/background.png");*/
    background-color: #fcfcfc;
    font-family: "ITC American Typewriter";
}
.content {
    width: fit-content;
    margin: auto;
    padding-bottom: 0.5rem;
    overflow: auto;
    align: center;
}
.content > h1 {
    font-size: 2.8rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    font-weight: lighter;
    padding-bottom: 3.5rem;
}
.content > h1 > .author {
    font-size: 1.5rem;
    float: right;
    text-align: right;
}

.content > h2 {
    font-size: 1.0rem;
    text-align: center;
}

.content > div.time {
    color: #B92100;
    font-weight: 900;
    font-size: 1.9rem;
    text-align: center;
}


.content > ul {
    list-style-type: none;
    display:table;
    text-align:center;
    margin:0 auto;
    padding: 0;
    padding-bottom: 2.0rem;
}

.content > ul > li {
    width: 100%;
    padding-top: 2rem;
    display: inline-block;
    text-align:center;
}

li > span.head {
    font-weight: bold;
}

li.adress {
    font-weight: bold;
}

.content > .footer {
    text-align: center;
}
